<html>
    <head>
        <title>Bus Search</title>
        <div style="background-image: url('https://live.staticflickr.com/7699/17185052477_a9d1799994_b.jpg');">
        <style>
        div {
        background-image: url('https://live.staticflickr.com/7699/17185052477_a9d1799994_b.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
        /* opacity: 0.5; */
        filter: brightness(20%);

        }
        </style>
    </head>

    <body>
        <p>
            Capstone Gay
        </p>
    </body>
</html>